name: Nightly Test

on:
  schedule:
    - cron: "0 8 * * *" # Every night at midnight (Pacific Time)
  workflow_dispatch: # Allow manual trigger of the workflow


jobs:
  create-temp-ec2:
    runs-on: ubuntu-latest
    environment: nightly
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Create temporary EC2 machine and get InstanceID
        id: get-instance-id
        run: |
          INSTANCE_ID=$(aws ec2 run-instances \
          --image-id ${{ vars.AMI_ID }} \
          --count 1 \
          --instance-type t2.micro \
          --key-name vockey \
          --security-groups laxSSH \
          --query 'Instances[0].InstanceId' \
          --output text)
          echo "Instance ID: $INSTANCE_ID"
          echo "instance_id=$INSTANCE_ID" >> $GITHUB_OUTPUT

      - name: Get Public DNS Name
        id: get-public-dns
        run: |
          aws ec2 wait instance-running --instance-ids ${{ steps.get-instance-id.outputs.instance_id }}
          PUBLIC_DNS=$(aws ec2 describe-instances \
          --instance-ids ${{ steps.get-instance-id.outputs.instance_id }} \
          --query 'Reservations[0].Instances[0].PublicDnsName' \
          --output text)
          echo "Public DNS: $PUBLIC_DNS"
          echo "public_dns=$PUBLIC_DNS" >> $GITHUB_OUTPUT
    outputs:
      public_dns: ${{ steps.get-public-dns.outputs.public_dns }}
      instance_id: ${{ steps.get-instance-id.outputs.instance_id }}

  bundle-source-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from source repository
        uses: actions/checkout@v3
        with:
          repository: "sihingbenni/spaceInvaders-source"

      - name: Set file permissions
        run: chmod -R 755 .

      - name: Archive source
        run: |
          sleep 5
          tar --ignore-failed-read --exclude='.git' --exclude='node_modules' -czf space_invaders_source.tar.gz .
          echo "source_artifact_name=space_invaders_source.tar.gz" >> $GITHUB_ENV

      - name: Upload source code artifact
        id: upload-source-artifact
        uses: actions/upload-artifact@v4
        with:
          name: space_invaders_source
          path: space_invaders_source.tar.gz

  deploy-nightly-source-code:
    runs-on: ubuntu-latest
    needs:
      - bundle-source-code
      - create-temp-ec2
    steps:
      - name: Checkout code from this repository
        uses: actions/checkout@v3

      - name: Download source code artifact
        uses: actions/download-artifact@v4
        with:
          name: space_invaders_source

      - name: Create SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > vockey.pem
          chmod 600 vockey.pem

      - name: Create known hosts directory
        run: mkdir -p ~/.ssh/ && touch ~/.ssh/known_hosts

      - name: Create Known Host
        run: |
          ssh-keyscan -H ${{ needs.create-temp-ec2.outputs.public_dns }} >> ~/.ssh/known_hosts

      - name: Add private Key to known hosts
        run: |
          eval $(ssh-agent)
          ssh-add vockey.pem

      - name: Upload Source Code to EC2
        run: |
          scp -i vockey.pem space_invaders_source.tar.gz ubuntu@${{ needs.create-temp-ec2.outputs.public_dns }}:~
          ssh -i vockey.pem ubuntu@${{ needs.create-temp-ec2.outputs.public_dns }} "mkdir -p space_invaders_source"
          ssh -i vockey.pem ubuntu@${{ needs.create-temp-ec2.outputs.public_dns }} "tar -xzf space_invaders_source.tar.gz -C space_invaders_source"
          ssh -i vockey.pem ubuntu@${{ needs.create-temp-ec2.outputs.public_dns }} "ls -la"
          scp -i vockey.pem cli/run-smoke-test.sh ubuntu@${{ needs.create-temp-ec2.outputs.public_dns }}:~/space_invaders_source/

      - name: Run smoke tests on EC2
        run: |
          ssh -i vockey.pem ubuntu@${{ needs.create-temp-ec2.outputs.public_dns  }} "cd ~/space_invaders_source && chmod +x run-smoke-test.sh && ./run-smoke-test.sh"

      - name: Trigger build and deploy
        if: success()
        run: |
          # Trigger the workflow
          curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          https://api.github.com/repos/$REPO/actions/workflows/$WORKFLOW/dispatches \
          -d "{\"ref\":\"$BRANCH\"}"
          echo "Workflow triggered successfully."

  delete-temp-ec2:
    runs-on: ubuntu-latest
    needs:
      - create-temp-ec2
      - deploy-nightly-source-code
    if: always()
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Delete Temp EC2
        run: |
          aws ec2 terminate-instances --instance-ids ${{ needs.create-temp-ec2.outputs.instance_id }}
